<div class="row home-text">
  <div class="<%= home_span_class %>">
    <div class="hero-unit">
      <h3><%= link_to "Inventory", inventory_location_path %></h3>
    </div>
  </div>
  <div class="<%= home_span_class %>">
    <div class="hero-unit">
      <h3><%= link_to "Purchase a new computer", new_purchase_path %></h3>
    </div>
  </div>
  <%- if current_user and current_user.equipment.length > 0 -%>
    <div class="<%= home_span_class %>">
      <div class="hero-unit">
        <h3><%= link_to "My equipment (#{current_user.equipment.length})", find_user_path(current_user.id) %></h3>
      </div>
    </div>
  <%- end -%>
</div>