<%- if item.user -%>
  <h3>Editing <%= item.title %></h3>
<%- end -%>
<%= form_for(item, html: {class: "form-horizontal item-form"}) do |f| %>
  <div class="control-group">
    <%= f.label(:user, "User:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:user, placeholder: "SUNet ID") %>
      <%- if item.user.blank? -%>
        <span class="help-inline"><%= link_to "[me]", "#", :"data-toggle" => "current-user", :"data-target" => "input#item_user", :"data-current-user" => current_user.id %></span>
      <%- end -%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:department, "Department:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:department, placeholder: "Webteam, DPG") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:location, "Location:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:location, placeholder: "Meyer 210, Green 315") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:make, "Make:", class: "control-label") %>
    <div class="controls">
      <%= text_field_tag("item[make]", params["make"] || item.make , placeholder: "Mac, Dell") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:model, "Model:", class: "control-label") %>
    <div class="controls">
      <%= text_field_tag("item[model]", params["model"] || item.model, placeholder: 'MacBookPro 15" - Retina, Latitude E6530') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:swap_cycle_number, "Category:", class: "control-label") %>
    <div class="controls">
      <%= f.select(:category, options_for_select(Item.categories, item.category)) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:barcode, "SU Barcode:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:barcode, placeholder: "75000000001234") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:serial, "Serial Number:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:serial) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:express_service_code, "Express Service Code:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:express_service_code) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:computer_name, "Computer Name:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:computer_name, placeholder: "sul-dlss-sunet-mbp") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:ip_address, "IP Address:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:ip_address) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:wireless_mac, "Wireless MAC Address:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:wireless_mac) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:wired_mac, "Wired MAC Address:", class: "control-label") %>
    <div class="controls">
      <%= f.text_field(:wired_mac) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:swap_cycle_number, "Swap Cycle:", class: "control-label") %>
    <div class="controls">
      <%= f.select(:swap_cycle_number, options_for_select([""].concat((1...7).to_a), item.swap_cycle_number)) %>
      <%= f.select(:swap_cycle_span, options_for_select([["Select...", ""], ["month(s)", "months"], ["year(s)", "years"]], item.swap_cycle_span)) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:warranty_end, "Warranty End Date:", class: "control-label") %>
    <div class="controls">
      <%= f.date_field(:warranty_end, placeholder: "YYYY-MM-DD") %>
    </div>
  </div>
  <%- unless item.received? -%>
    <%- if item.tracking_url.blank? -%>
      <div class="control-group">
        <%= f.label(:shipping_provider, "Shipping Provider:", class: "control-label") %>
        <div class="controls">
          <%= f.select(:shipping_provider, options_for_select([["Select...", ""], ["UPS", "UPS"]], item.shipping_provider) ) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:tracking_number, "Tracking Number:", class: "control-label") %>
        <div class="controls">
          <%= f.text_field(:tracking_number) %>
        </div>
      </div>
    <%- end -%>
    <%- if item.shipping_provider.blank? -%>
      <div class="control-group">
        <%= f.label(:tracking_url, "Tracking URL:", class: "control-label") %>
        <div class="controls">
          <%= f.text_field(:tracking_url, :"data-toggle" => "tooltip", :"data-title" => "Only enter a Tracking URL if the Shipping Provider doesn't show up in the list above.") %>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
  <div class="control-group">
    <%= f.label(:notes, "Notes:", class: "control-label") %>
    <div class="controls">
      <%= f.text_area(:notes) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:purchased, "Purchased?", class: "control-label") %>
    <div class="controls">
      <%= f.check_box(:purchased) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:received, "Received?", class: "control-label") %>
    <div class="controls">
      <%= f.check_box(:received) %>
    </div>
  </div>
  <%- if params[:action] == "new" -%>
    <div class="control-group">
      <%= label_tag(:send_email, "Send email?", class: "control-label") %>
      <div class="controls">
        <%= check_box_tag(:send_email) %>
      </div>
    </div>
    <%- if params[:purchase_option_id] -%>
      <%= hidden_field_tag(:purchase_option_id, params[:purchase_option_id]) %>
    <%- end -%>
  <%- end -%>

  <div class="control-group">
    <div class="controls">
      <%= submit_tag "Save", class: "btn" %>
    </div>
  </div>
<%- end -%>
