<h3><%= item.user %>'s <%= item.model %></h3>
<dl class="dl-horizontal">
  <dt>Department:</dt>
  <dd><%= item.department %></dd>

  <dt>Location:</dt>
  <dd><%= item.location %></dd>

  <dt>Make:</dt>
  <dd><%= item.make %></dd>

  <dt>Model:</dt>
  <dd><%= item.model %></dd>

  <dt>Barcode:</dt>
  <dd><%= item.barcode %></dd>

  <dt>Express Service Code:</dt>
  <dd><%= item.express_service_code %></dd>

  <dt>Computer Name:</dt>
  <dd><%= item.computer_name %></dd>

  <dt>IP Address:</dt>
  <dd><%= item.ip_address %></dd>

  <dt>Wireless MAC:</dt>
  <dd><%= item.wireless_mac %></dd>

  <dt>Wired MAC:</dt>
  <dd><%= item.wired_mac %></dd>

  <dt>Swap Cycle:</dt>
  <dd><%= item.swap_cycle %></dd>

  <dt>Warranty Start Date:</dt>
  <dd><%= item.warranty_start %></dd>

  <dt>Notes:</dt>
  <dd><%= item.notes %></dd>
</dl>
