<div class="item">
  <h3>
    <%= link_to_unless((params[:controller] == "items" and params[:action] == "show"), "#{item.user}'s #{item.model}", item_path(item)) -%>
  </h3>
  <dl class="dl-horizontal">
    <%- unless item.department -%>
      <dt>Department:</dt>
      <dd><%= item.department.blank? %></dd>
    <%- end -%>

    <%- unless item.location.blank? -%>
      <dt>Location:</dt>
      <dd><%= item.location %></dd>
    <%- end -%>

    <%- unless item.make.blank? -%>
      <dt>Make:</dt>
      <dd><%= item.make %></dd>
    <%- end -%>

    <%- unless item.model.blank? -%>
      <dt>Model:</dt>
      <dd><%= item.model %></dd>
    <%- end -%>

    <%- unless item.barcode.blank? -%>
      <dt>Barcode:</dt>
      <dd><%= item.barcode %></dd>
    <%- end -%>

    <%- unless item.express_service_code.blank? -%>
      <dt>Express Service Code:</dt>
      <dd><%= item.express_service_code %></dd>
    <%- end -%>

    <%- unless item.computer_name.blank? -%>
      <dt>Computer Name:</dt>
      <dd><%= item.computer_name %></dd>
    <%- end -%>

    <%- unless item.ip_address.blank? -%>
      <dt>IP Address:</dt>
      <dd><%= item.ip_address %></dd>
    <%- end -%>

    <%- unless item.wireless_mac.blank? -%>
      <dt>Wireless MAC:</dt>
      <dd><%= item.wireless_mac %></dd>
    <%- end -%>

    <%- unless item.wired_mac.blank? -%>
      <dt>Wired MAC:</dt>
      <dd><%= item.wired_mac %></dd>
    <%- end -%>

    <%- unless item.swap_cycle.blank? -%>
      <dt>Swap Cycle:</dt>
      <dd><%= item.swap_cycle %></dd>
    <%- end -%>

    <%- unless item.warranty_start.blank? -%>
      <dt>Warranty Start Date:</dt>
      <dd><%= item.warranty_start %></dd>
    <%- end -%>

    <%- unless item.notes.blank? -%>
      <dt>Notes:</dt>
      <dd><%= item.notes %></dd>
    <%- end -%>

    <%- unless item.purchase_option.blank? -%>
      <dt>Swap Model:</dt>
      <dd>
        <span data-toggle="tooltip" data-title="<%= item.purchase_option.description %>">
          <%= item.purchase_option.model %>
        </span>
      </dd>
    <%- end -%>
  </dl>
</div>