<div class="row">
  <div class="span12">
    <h2>Please choose a model to swap</h2>
  </div>
</div>
<%- @purchase_options.each_with_index do |purchase_option, index| -%>
  <div class="purchase_option<%= " last".html_safe if (index+1) == @purchase_options.length and index > 0 %>">
    <div class="row heading">
      <div class="offset2 span8 half left">
        <h3><%= purchase_option.model %></h3>
      </div>
      <div class="span2 half right select-widget">
        <%= form_tag(change_swap_model_item_path, class: "swap_model_form") do %>
          <%= hidden_field_tag(:purchase_option_id, purchase_option.id) %>
          <%= submit_tag("Select Model", class: "pull-right btn", id: "swap-model-#{purchase_option.id}") %>
        <%- end -%>
      </div>
    </div>
    <div class="row">
      <div class="span2 hidden-phone counter">
        <h3><%= index +1  %>)</h3>
      </div>
      <div class="span10">
        <pre><%= purchase_option.description %></pre>
      </div>
    </div>
  </div>
<%- end -%>